<!DOCTYPE html>
<html>
    <body>
        <h1>Mootools test page</h1>
        <p><a href="#" id="alert-button">click me for alert</a></p>
        <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools.js" type="text/javascript"></script>
        <script type="text/javascript">
            var button = document.id('alert-button');
            button.addEvent('click', function(e) {
                alert('this is an alert');
                e.stop();
            });
        </script>
    </body>
</html>