<!DOCTYPE html>
<html>
    <body>
        <h1>Contact form</h1>
        <form id="contact-form" action="" method="post">
            <fieldset>
                <p>
                    <label for="subject">subject</label>
                    <input type="text" id="subject" name="subject" />
                </p>
                <p>
                    <label for="email">email</label>
                    <input type="email" id="email" name="email" />
                </p>
                <p>
                    <label for="message">message</label>
                    <input type="message" id="message" name="message" />
                </p>
                <input type="submit" value="go!" />
            </fieldset>
        </form>
    </body>
</html>