<!DOCTYPE html>
<html>
    <body>
        <h1>Contact form</h1>
        <form id="contact-form" action="" method="post">
            <fieldset>
                <p>
                    <label for="text">text</label>
                    <input type="text" id="text" name="text" />
                </p>
                <p>
                    <label for="email">email</label>
                    <input type="email" id="email" name="email" />
                </p>
                <p>
                    <label for="textarea">textarea</label>
                    <textarea id="textarea" name="textarea"></textarea>
                </p>
                <p>
                    <label for="checkbox">checkbox</label>
                    <input type="checkbox" id="checkbox" name="checkbox" />
                </p>
                <input type="submit" value="go!" />
            </fieldset>
        </form>
    </body>
</html>