<!DOCTYPE html>
<html>
    <body>
        <h1>Form</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <form id="contact-form" action="" method="post">
            <fieldset>
                <p>
                    <label for="text">text</label>
                    <input type="text" id="text" name="text" />
                </p>
                <p>
                    <label for="email">email</label>
                    <input type="email" id="email" name="email" />
                </p>
                <p>
                    <label for="textarea">textarea</label>
                    <textarea id="textarea" name="textarea"></textarea>
                </p>
                <p>
                    <label for="checkbox">checkbox</label>
                    <input type="checkbox" id="checkbox" name="checkbox" />
                </p>
                <p>
                    <label for="multiple-checkbox-first">multiple checkbox first choice</label>
                    <input type="checkbox" id="multiple-checkbox-first" name="multiple-checkbox" value="first choice" />
                    <label for="multiple-checkbox-second">multiple checkbox second choice</label>
                    <input type="checkbox" id="multiple-checkbox-second" name="multiple-checkbox" value="second choice" />
                </p>
                <p>
                    <label for="radio-first">first choice</label>
                    <input id="radio-first" type="radio" name="radio" value="first choice" />
                    <label for="radio-second">second choice</label>
                    <input id="radio-second" type="radio" name="radio" value="second choice" />
                </p>
                <input type="submit" value="go!" />
            </fieldset>
        </form>
    </body>
</html>
