<!DOCTYPE html>
<html>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        h1 {
            box-sizing: border-box;
            margin: 0;
            width: 600px;
            height: 300px;
        }
    </style>
    <body>
        <h1>Test page</h1>
        <p>This is the home page.</p>
        <p><a href="{{ url_for('form') }}">This is a clickable link</a></p>
        <script type="text/javascript">
            var myGlobal = 'my global';
        </script>
    </body>
</html>
