include README.rst *.py
include ghost/ghost.py
include ghost/test.py
include ghost/ext/django/test.py
include ghost/utils.js
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
prune docs/_themes/.git